<div class="container">
    <button data-hover="Será que deu match?!" [routerLink]="['/dashboard/1/monitoring']">
        <div>Veja suas criações</div>
    </button>
    <h3>Somos uma comunidade que apoia sonhos, veja abaixo as criações e sonhos de outras pessoas que podem ser
        semelhantes ao seu(aqui você pode ajudar uma cerveja a ser produzida). </h3>
    <div class="cervejas">
        <div class="item">
            <img src="../../../../assets/img/garrafa1.png" alt="">
        </div>
        <div class="item">
            <img src="../../../../assets/img/garrafa2.png" alt="">

        </div>
        <div class="item">
            <img src="../../../../assets/img/garrafa3.png" alt="">

        </div>
        <div class="item">
            <img src="../../../../assets/img/garrafa4.png" alt="">

        </div>
    </div>
</div>