<div class="container">
    <h3>Aqui está a sua lista de desafios de criação de cerveja</h3>
    <div class="beerName" [routerLink]="['/companyListBeer/1']">
        <div>Cerveja Muito Especial</div>
    </div>
    <div class="beerName" [routerLink]="['/companyListBeer/2']">
        <div>Cerveja Nome muito especial</div>
    </div>
    <div class="beerName" [routerLink]="['/companyListBeer/3']">
        <div>Cerveja Sobe e Desce</div>
    </div>
    <h3>Caso queria escolher cervejas da comunidade só clicar aqui</h3>

    <div class="beerOpcoes" [routerLink]="['/dashboard/1']">
        <div>Quero Desenvolver uma cerveja que ainda não teve o funding completo</div>
    </div>
    <div class="beerOpcoes pt-4">
        <div>Quero indicar uma cerveja para Ambev produzir</div>
    </div>
</div>