.container {
    margin: 0;
}

.row {
    width: 100vw;
    height: 100vh;
}

.col-6 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.image {
    width: 100%;
    height: 100%;
}

.loginContainer {
    background-color: #272C32;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.logo {
    align-self: center;
}

.form {
    margin-top: 30px;
    width: 80%;
    align-self: center;
    color: white;
}

h3 {
    text-align: center;
    margin-bottom: 20%;
}

button {
    background: transparent;
    outline: none;
    position: relative;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.39);
    border: 0;
    padding: 5px 20px;
    overflow: hidden;
    background-color: rgb(255, 208, 0);
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    font-size: x-large;
    color: brown;
}

/*button:before (attr data-hover)*/
button:hover:before {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  button:before {
    content: attr(data-hover);
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all .3s ease-in-out;
  }
  
  /*button div (button text before hover)*/
  button:hover div {
    opacity: 0;
    transform: translate(100%, 0)
  }
  
  button div {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease-in-out;
  }

p {
    margin-top: 5px;
    
}

a {
    color: rgb(255, 208, 0);
    cursor: pointer;
    margin-left: 5px;
}

input {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.39);
}

@media(max-width: 768px) {

    .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .image {
        width: 100vw;
    }

    .loginContainer {
        width: 100vw;
    }

}