<div class="container">
    <div class="beerName">
        <div>Cerveja Muito Especial</div>
    </div>
    <h3>Aqui está as informações que coletamos para você colocar no seu Beer Smith!</h3>
    <div class="beerOpcoes">
        <div>beerMuitoEspecial.txt</div>
    </div>
    <h3>E aí o que achou? É uma ideia viável para a sua Cervejaria ?</h3>
    <div class="question">
        <div class="beerQuestion">
            <div>Muito Boa!</div>
        </div>
        <div class="beerQuestionNegative">
            <div>Nem vai rolar!</div>
        </div>
    </div>
    <button data-hover="Estamos Terminando!" [routerLink]="['create2Step']">
        <div>Próximo</div>
    </button>
</div>