<div class="container">
    <h3>Obaaaa! Bora ver como andam as coisas aqui! </h3>
    <div class="beerName">
        <div>Cerveja Muito Especial</div>
    </div>

    <div class="form">
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Resumo: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        value="Cerveja Estilo Porte, Encorpada com sabor de Cumaru com chocolate de amargor de 35 IBU">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Região: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput" value="Amazonas">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Processo: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput" value="Aceita - Em Funding">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Cervejaria que irá produzir: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput" value="Cervejaria Colorado">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Personalização: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput" value="Não">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Entrega esperada quando Funding acabar: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput" value="35 dias">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Entrega gelada: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput" value="sim">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Criada por: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput" value="Bruno Oliveira">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Litragem Minima: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput" value="500 L">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Forma de Compra: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        value="Fardo de 6 unidades de 500ml">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 text-right">
                    <label for="">Orçamento Total: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="formGroupExampleInput" value="1.000,00">
                </div>
            </div>
        </div>
        <button data-hover="ainda não rolou!" [routerLink]="['/dashboard/1']">
            <div>Voltar</div>
        </button>
    </div>