<div class="container">
    <h3>Então você decidiu criar sua própria cerveja! Lembre-se nos dê um exemplo de uma cerveja parecida na cor, sabor,
        corpo e amargor se você souber.</h3>
    <select class="form-control" aria-label="Default select example">
        <option selected>Qual é a cor que você deseja ?</option>
        <option value="0">Palha</option>
        <option value="1">Amarelo</option>
        <option value="2">Ouro</option>
        <option value="3">Âmbar</option>
        <option value="4">Produndo âmbar / cobre Luz</option>
        <option value="5">Cobre</option>
        <option value="6">Castanho Claro</option>
        <option value="7">Castanho</option>
        <option value="8">Castanho escuro</option>
        <option value="9">Castanho muito escuro</option>
        <option value="10">Castanho muito escuro</option>
        <option value="11">Preto</option>
        <option value="12">Preto opaco</option>
    </select>
    <h5>&nbsp;</h5>

    <select class="form-control" aria-label="Default select example">
        <option selected>Qual é o sabor que você deseja ?</option>
        <option value="0">Pilsen</option>
        <option value="1">Munich Helles</option>
        <option value="2">Vienna Lager</option>
        <option value="3">Oktoberfest (Märzen)</option>
        <option value="4">Bock</option>
        <option value="5">Kölsch</option>
        <option value="6">Altbier</option>
        <option value="7">English Pale Ale</option>
        <option value="8">English Brown Ale</option>
        <option value="9">India Pale Ale</option>
        <option value="10">English IPA</option>
        <option value="11">American IPA</option>
        <option value="12">Imperial IPA</option>
        <option value="6">New England IPA </option>
        <option value="6">Porter</option>
        <option value="6">Stout</option>
        <option value="6">Weizenbier</option>
        <option value="6">Witbier</option>
        <option value="6">Belgian Pale Ale</option>
        <option value="6">Saison</option>
        <option value="6">Sour</option>
        <option value="6">Lambic</option>
        <option value="6">Belgian Dubbel</option>
        <option value="6">Belgian Tripel</option>
        <option value="6">Belgian Blond Ale</option>
        <option value="6">Belgian Golden Strong Ale</option>
        <option value="6">Belgian Dark Strong Ale</option>
        <option value="6">English Barley Wine</option>
        <option value="6">Rauchbiere</option>
        <option value="6">Fruit Beer</option>
    </select>
    <h5>&nbsp;</h5>

    <select class="form-control" aria-label="Default select example">
        <option selected>E sobre o Corpo da cerveja ?</option>
        <option value="0">Encorpada</option>
        <option value="1">Médio</option>
        <option value="2">Leve</option>
    </select>
    <h5>Leve como uma Pilsen ou encorpada como uma IPA ?!</h5>
    <select class="form-control" aria-label="Default select example">
        <option selected>E sobre o Amargor da cerveja ?</option>
        <option value="0">0 - 15 IBU</option>
        <option value="1">16 - 30 IBU</option>
        <option value="2">31 - 50 IBU</option>
        <option value="3"> 50 > ... IBU</option>
    </select>
    <h5>Quanto menor o IBU menos amargor a cerveja terá</h5>

    <button data-hover="Quase lá!" [routerLink]="['/dashboard/1/create2Step']">
        <div>Próximo</div>
    </button>
</div>
